//variables
$black: #000;
$white: #fff;
$blue: #0E4775;
$red: #CF4827;
$fsize: 15px;
$gray: #1d1d1d;


//devices breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;