@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');

body {
  @include sitefont;
  background: #f8f6f4;
}

.fsbold {
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.fbold {
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}
.fblue {
  color: $blue;
}
.fblack {
  color: $black;
}

.fred {
  color: $red;
}

.fwhite {
  color: $white;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
 @extend .fbold;
}

.customContainer{
  width:90%;
  margin:0 auto;
}

.borderLink{
  border:1px solid $black;
  color:$black;
  padding:7px 15px;
  display:inline-block;
  @include transition;
  background:none;

  &:hover{
    background:$red;
    color:$white;
    border:1px solid $red;
  }
}

.filledLink{
  border:1px solid transparent;
  color:$white;
  padding:7px 15px;
  display:inline-block;
  @include transition;
  background:$red;

  &:hover{
    background:$white;
    color:$red;
    border:1px solid $red;
  }
}

header{
  background:url(../img/headerbg.jpg)no-repeat 0 0;
  background-size:cover;
  min-height:320px;
  padding:25px 0;

  @include minMax($xs, $lg){
    min-height:190px;
  }

  .loginlink{
    border:1px solid $white;
    margin-left:5px;
    @include transition;

    &:hover{
      background:$red;
      border:1px solid $red;
      color:$white!important;
    }
  }

  .navbar-toggler{
    &:focus{
      border:none;
      outline:none;
      box-shadow: none;
    }
  }

  .nav-item{
    .nav-link{
      @include minMax($xs, $lg){
        display:block!important;
        padding:12px 15px!important;
      }
    }
    .loginlink{
      margin-bottom:10px;
    }
    .activeNav{
      border:1px solid $white;
      display: block;
      padding:12px 15px;
      color:$white;
    }
  }
}

.homeCampaigns{
  background:url(../img/campaignbg.jpg) repeat 0 0;
  padding:20px 0 50px 0; 
}

.campDiv{
  background:$white;
  @include shadowbot;  

  img{    
    height:250px;
    width:100%;
    @include transition;
    @include objectfitcover;
      &:hover{
        opacity:0.7;
      }
  }

  article{
    padding:20px;

    .loc{
      color:lighten($black, 50%);
    }

    .h5{
      font-weight: 600;

      a{
        color:$black;

        &:hover{
          color:$red;
        }
      }
    }
  }
}

.howitworks{
  background:lighten($red, 50%);
  padding:50px 0;

  .circleDiv{
    width:160px;
    height:160px;
    background:$white;
    border:16px solid $red;
    margin:0 auto;
    border-radius:50%;   
    @include verticalcenter;
    position:relative;

    &:before{
      content:'';
      width:170px;
      height:170px;
      position:absolute;
      top:-21px;
      left:-21px;
      border:1px solid $red;
      border-radius:50%;
    }

    img{
      width:50px;
    }

    .numberS{
      background:$white;
      width:40px;
      height:40px;
      border-radius:50%;
      @include shadowbot;
      position:absolute;
      bottom:-30px;
      left:50%;
      margin-left:-20px;
      font-size:$fsize + 3;
      @extend .fbold;
      text-align:center;
      line-height:42px;
    }
  }

  article{   
    text-align:center;
    padding:25px 25px 0 25px;

    p{
      color:lighten($black, 20%);
    }
  }
}

footer{
  background:$red;
  color:$white;
  padding:25px 0;
  margin-top:50px;
}

//subpage 
.subpage{  
   position:relative;
   min-height:500px;

   .subpageHeader{
     margin-top:-150px;
     @include minMax($xs, $lg){
       margin-top:-70px;
     }
     .h1{
       font-weight:600;
       color:$white;
     }
   }

   //sub page body 
   .subpageBody{
     padding:130px 0 0 0;
      @include minMax($xs, $lg){
      padding:60px 0 0 0;
     }
     p{
       color:lighten($black, 30%);
       text-align:justify;       
       font-size:$fsize + 1;
       line-height:30px;
     }
   }
   ul{
     margin:0;
     li{
        color:lighten($black, 30%);
        padding-bottom:12px;
        font-size:$fsize + 1;
     }
   }
   .contactCol{
     padding:25px;
     background:$white;
     @include shadowbot;
     height:250px;
     @include verticalcenter;

     .icon{
       width:75px;
       height:75px;
       margin:25px auto;
       background:$red;
        @include verticalcenter;
        border-radius:50%;

       .icomoon{
         font-size:$fsize * 2 + 5;
         color:$white;
       }
     }
   }
   .form-group{
     margin-bottom:20px;
     label{
       margin-bottom:6px;
     }
     .form-control{
       border-radius:0;
       min-height:46px;
       font-size:$fsize - 1;

       &:focus{
         box-shadow: none;
         outline:$red;
         border-color:$red;         
       }
     }
   }
   ::placeholder{
     opacity:0.6;
   }
}

.form-group{
     margin-bottom:20px;
     label{
       margin-bottom:6px;
     }
     .form-control{
       border-radius:0;
       min-height:46px;
       font-size:$fsize - 1;

       &:focus{
         box-shadow: none;
         outline:$red;
         border-color:$red;         
       }
     }
   }
   ::placeholder{
     opacity:0.6;
   }

.signform{
  background:$white;
  padding:35px;
  @include shadowbot;
}

.leftNav{  
  background:$white;
  @include shadowbot; 
  margin-bottom:15px;

  ul{
    margin:0;
    padding:0;

    @include max($lg){
      padding-left:18px;
    }
   
    li{
      list-style: none;  
      padding-bottom:0;   
      
      a{
        color:$black;
        font-size:$fsize;

        &:hover{
          color:$red;
        }
        .active{
          color:$red;
        }
      }
      .active{
        color:$red;
        padding:12px 15px;
        display: block;
      }
    }
  }
}

.breadcrumb{
  margin-top:-15px;

  a{
    color:$black;
  }

  .active{
    color:$red;
  }
}

.rightProfile{
  background:$white;
  padding:35px;
  @include shadowbot;
  min-height:500px;

  .titleProfile{
    border-bottom:1px solid lighten($black, 70%);
    padding-bottom:15px;
    margin-bottom:15px;
  } 

  //right profile body 
  .rightProfileBody{
    padding-top:10px;

    .form-group{
      label{
        font-size:$fsize - 2!important;
      }
      .form-control{
        font-size:$fsize - 2!important;
        border-radius:0;
      }
    }

    .proCol{
      label{
        color:lighten($black, 60%);
        margin-bottom:0;
        font-size:$fsize - 2;
      }
      p{
        font-size:$fsize + 1;
        color:$black;
       
      }
    }

    .col-md-4{
      &:first-child{
        .dbCol{
          background:#dfe3ee;
        }
      }
      &:nth-child(2){
        .dbCol{
          background:#ffe0bd;
        }
      }
       &:nth-child(3){
        .dbCol{
          background:#ffdc73;
        }
      }
    }

    .dbCol{      
      @include shadowbot;
      padding:25px;
      width:100%;
      min-height:100px;       

      h4{
        margin:0;
        padding:0;
      }

      p{
        font-size:$fsize + 5;       
        padding:10px 0 0 0;
        margin:0;        
      }
    }
  }
  //right profile ends
}

.camppopimg{
  img{
    height:300px;
    width:100%;
    @include objectfitcover;
  }
}

.dataTables_wrapper{
  .dataTables_filter{
    float:right;
  }
  .pagination{
    float:right;
  }
}

.campRow{
  padding:15px 0;
  border-bottom:1px solid #ccc;

  .col-item{
    margin-bottom:10px;
    h6{
      margin:0;
      padding:0;
      font-size:$fsize + 1;
    }
  }
}

.navbar-togglerProfile{
  background:none;
  border:none;

  @include min($lg){
    display:none;
  }
}

