@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 400;
  background: #f8f6f4;
}

.fsbold {
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.fbold, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .howitworks .circleDiv .numberS {
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

.fblue {
  color: #0E4775;
}

.fblack {
  color: #000;
}

.fred {
  color: #CF4827;
}

.fwhite {
  color: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.customContainer {
  width: 90%;
  margin: 0 auto;
}

.borderLink {
  border: 1px solid #000;
  color: #000;
  padding: 7px 15px;
  display: inline-block;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  background: none;
}

.borderLink:hover {
  background: #CF4827;
  color: #fff;
  border: 1px solid #CF4827;
}

.filledLink {
  border: 1px solid transparent;
  color: #fff;
  padding: 7px 15px;
  display: inline-block;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  background: #CF4827;
}

.filledLink:hover {
  background: #fff;
  color: #CF4827;
  border: 1px solid #CF4827;
}

header {
  background: url(../img/headerbg.jpg) no-repeat 0 0;
  background-size: cover;
  min-height: 320px;
  padding: 25px 0;
}

@media (min-width: 0) and (max-width: 992px) {
  header {
    min-height: 190px;
  }
}

header .loginlink {
  border: 1px solid #fff;
  margin-left: 5px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

header .loginlink:hover {
  background: #CF4827;
  border: 1px solid #CF4827;
  color: #fff !important;
}

header .navbar-toggler:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 0) and (max-width: 992px) {
  header .nav-item .nav-link {
    display: block !important;
    padding: 12px 15px !important;
  }
}

header .nav-item .loginlink {
  margin-bottom: 10px;
}

header .nav-item .activeNav {
  border: 1px solid #fff;
  display: block;
  padding: 12px 15px;
  color: #fff;
}

.homeCampaigns {
  background: url(../img/campaignbg.jpg) repeat 0 0;
  padding: 20px 0 50px 0;
}

.campDiv {
  background: #fff;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
}

.campDiv img {
  height: 250px;
  width: 100%;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}

.campDiv img:hover {
  opacity: 0.7;
}

.campDiv article {
  padding: 20px;
}

.campDiv article .loc {
  color: gray;
}

.campDiv article .h5 {
  font-weight: 600;
}

.campDiv article .h5 a {
  color: #000;
}

.campDiv article .h5 a:hover {
  color: #CF4827;
}

.howitworks {
  background: #fef9f7;
  padding: 50px 0;
}

.howitworks .circleDiv {
  width: 160px;
  height: 160px;
  background: #fff;
  border: 16px solid #CF4827;
  margin: 0 auto;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.howitworks .circleDiv:before {
  content: '';
  width: 170px;
  height: 170px;
  position: absolute;
  top: -21px;
  left: -21px;
  border: 1px solid #CF4827;
  border-radius: 50%;
}

.howitworks .circleDiv img {
  width: 50px;
}

.howitworks .circleDiv .numberS {
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -20px;
  font-size: 18px;
  text-align: center;
  line-height: 42px;
}

.howitworks article {
  text-align: center;
  padding: 25px 25px 0 25px;
}

.howitworks article p {
  color: #333333;
}

footer {
  background: #CF4827;
  color: #fff;
  padding: 25px 0;
  margin-top: 50px;
}

.subpage {
  position: relative;
  min-height: 500px;
}

.subpage .subpageHeader {
  margin-top: -150px;
}

@media (min-width: 0) and (max-width: 992px) {
  .subpage .subpageHeader {
    margin-top: -70px;
  }
}

.subpage .subpageHeader .h1 {
  font-weight: 600;
  color: #fff;
}

.subpage .subpageBody {
  padding: 130px 0 0 0;
}

@media (min-width: 0) and (max-width: 992px) {
  .subpage .subpageBody {
    padding: 60px 0 0 0;
  }
}

.subpage .subpageBody p {
  color: #4d4d4d;
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}

.subpage ul {
  margin: 0;
}

.subpage ul li {
  color: #4d4d4d;
  padding-bottom: 12px;
  font-size: 16px;
}

.subpage .contactCol {
  padding: 25px;
  background: #fff;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subpage .contactCol .icon {
  width: 75px;
  height: 75px;
  margin: 25px auto;
  background: #CF4827;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50%;
}

.subpage .contactCol .icon .icomoon {
  font-size: 35px;
  color: #fff;
}

.subpage .form-group {
  margin-bottom: 20px;
}

.subpage .form-group label {
  margin-bottom: 6px;
}

.subpage .form-group .form-control {
  border-radius: 0;
  min-height: 46px;
  font-size: 14px;
}

.subpage .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: #CF4827;
  border-color: #CF4827;
}

.subpage ::-webkit-input-placeholder {
  opacity: 0.6;
}

.subpage :-ms-input-placeholder {
  opacity: 0.6;
}

.subpage ::-ms-input-placeholder {
  opacity: 0.6;
}

.subpage ::placeholder {
  opacity: 0.6;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 6px;
}

.form-group .form-control {
  border-radius: 0;
  min-height: 46px;
  font-size: 14px;
}

.form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: #CF4827;
  border-color: #CF4827;
}

::-webkit-input-placeholder {
  opacity: 0.6;
}

:-ms-input-placeholder {
  opacity: 0.6;
}

::-ms-input-placeholder {
  opacity: 0.6;
}

::placeholder {
  opacity: 0.6;
}

.signform {
  background: #fff;
  padding: 35px;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
}

.leftNav {
  background: #fff;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  margin-bottom: 15px;
}

.leftNav ul {
  margin: 0;
  padding: 0;
}

@media (max-width: 992px) {
  .leftNav ul {
    padding-left: 18px;
  }
}

.leftNav ul li {
  list-style: none;
  padding-bottom: 0;
}

.leftNav ul li a {
  color: #000;
  font-size: 15px;
}

.leftNav ul li a:hover {
  color: #CF4827;
}

.leftNav ul li a .active {
  color: #CF4827;
}

.leftNav ul li .active {
  color: #CF4827;
  padding: 12px 15px;
  display: block;
}

.breadcrumb {
  margin-top: -15px;
}

.breadcrumb a {
  color: #000;
}

.breadcrumb .active {
  color: #CF4827;
}

.rightProfile {
  background: #fff;
  padding: 35px;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  min-height: 500px;
}

.rightProfile .titleProfile {
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.rightProfile .rightProfileBody {
  padding-top: 10px;
}

.rightProfile .rightProfileBody .form-group label {
  font-size: 13px !important;
}

.rightProfile .rightProfileBody .form-group .form-control {
  font-size: 13px !important;
  border-radius: 0;
}

.rightProfile .rightProfileBody .proCol label {
  color: #999999;
  margin-bottom: 0;
  font-size: 13px;
}

.rightProfile .rightProfileBody .proCol p {
  font-size: 16px;
  color: #000;
}

.rightProfile .rightProfileBody .col-md-4:first-child .dbCol {
  background: #dfe3ee;
}

.rightProfile .rightProfileBody .col-md-4:nth-child(2) .dbCol {
  background: #ffe0bd;
}

.rightProfile .rightProfileBody .col-md-4:nth-child(3) .dbCol {
  background: #ffdc73;
}

.rightProfile .rightProfileBody .dbCol {
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  padding: 25px;
  width: 100%;
  min-height: 100px;
}

.rightProfile .rightProfileBody .dbCol h4 {
  margin: 0;
  padding: 0;
}

.rightProfile .rightProfileBody .dbCol p {
  font-size: 20px;
  padding: 10px 0 0 0;
  margin: 0;
}

.camppopimg img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}

.dataTables_wrapper .dataTables_filter {
  float: right;
}

.dataTables_wrapper .pagination {
  float: right;
}

.campRow {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.campRow .col-item {
  margin-bottom: 10px;
}

.campRow .col-item h6 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.navbar-togglerProfile {
  background: none;
  border: none;
}

@media (min-width: 992px) {
  .navbar-togglerProfile {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */